.form {
    text-align: center;
    color: rgb(21, 14, 245);
}
.form-one{
    text-align: center;
    margin: 20px;
   
}
#form-two{
    text-align: center;
    margin-top: 20px;
    
}
.loginbox{
    border-radius: 10px;
    border-color: rgb(58, 6, 230);
    box-shadow: rgba(53, 4, 166, 0.24) 0px 3px 8px; 
   width: 30%; 
   align-content: center;
   margin-left: 35%;
   margin-top: 15%;
   padding: 20px;
}
.email{
    margin-bottom: 100px;
}
.btn{
    background-color: rgb(2, 2, 49);
    color: white;

}
.textarea{
    width: 60%;
    border-radius: 5px;
    padding: 5px;
}
